@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: minion;
  src: url(./../../public/fonts/MinionPro-Regular.woff);
}


:root {
 
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

body {
  font-family: minion;
}

@layer utilities {
  
}
